<!--
  Generated template for the ClientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    
    <ion-title>clientes <button (click)="gotoCreate()">Agregar</button></ion-title>
    

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ul>
    <li *ngFor="let cliente of clientes">{{ cliente.cedula }}-{{cliente.nombre}} {{cliente.telefono}}</li>
  </ul>

</ion-content>
