page-clientes {
    .ion-md-add{
        background: #357ff5;
        color: #fff;
        border-radius: 31px;
        height: 50px;
        display: flex;
        justify-content: center;
        width: 50px;
        animation: inherit;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        bottom: 23px;
        position: fixed;
        float: right;
        right: 20px;
    }
}
