<!--
  Generated template for the CrearclientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>crearcliente</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="clienteform" class="ob-grid-registered">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                      <ion-label position="fixed">Cedula</ion-label>
                      <ion-input type="text"  class="ob-input-registered ob-input-color-placeholder color-blue" formControlName="cedula"
                      [class.invalid]="clienteform.controls.cedula.invalid && ((clienteform.controls.cedula.dirty || clienteform.controls.cedula.touched) || submitAttempt)" 
                      detect-focus></ion-input>
                    </ion-item>
                   <div *ngIf="clienteform.controls.cedula.invalid && ((clienteform.controls.cedula.dirty || clienteform.controls.cedula.touched) || submitAttempt)"  class="ob-ms-err">
                     <div  *ngIf="clienteform.controls.cedula.invalid">El campo es obligatorio.</div>
                   </div>
                 </ion-col>
                 <ion-col col-12>
                   <ion-item>
                     <ion-label position="fixed">Nombre</ion-label>
                    <ion-input type="text" class="ob-input-registered ob-input-color-placeholder color-blue" formControlName="nombre"
                         [class.invalid]="clienteform.controls.nombre.invalid && ((clienteform.controls.nombre.dirty || clienteform.controls.nombre.touched) || submitAttempt)" 
                         detect-focus></ion-input>
                   </ion-item>
                   <div *ngIf="clienteform.controls.nombre.invalid && ((clienteform.controls.nombre.dirty || clienteform.controls.nombre.touched) || submitAttempt)"  class="ob-ms-err">
                     <div  *ngIf="clienteform.controls.nombre.invalid">El campo es obligatorio.</div>
                   </div>
                 </ion-col>
                 <ion-col col-12>
                    <ion-item>
                      <ion-label position="fixed">Telefono</ion-label>
                      <ion-input type="text" class="ob-input-registered ob-input-color-placeholder color-blue" formControlName="telefono"
                         [class.invalid]="clienteform.controls.telefono.invalid && ((clienteform.controls.telefono.dirty || clienteform.controls.telefono.touched) || submitAttempt)" 
                         detect-focus></ion-input>
                    </ion-item>
                   <div *ngIf="clienteform.controls.telefono.invalid && ((clienteform.controls.telefono.dirty || clienteform.controls.telefono.touched) || submitAttempt)"  class="ob-ms-err">
                     <div  *ngIf="clienteform.controls.telefono.invalid">El campo es obligatorio.</div>
                   </div>
                 </ion-col> 
                 <ion-col col-12>
                    <button ion-button class="color-purple-button ob-button-registered button-global" (click)="crearcliente()">Crear cuenta</button>
                  </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
