page-crearcliente {
    .ob-ms-err{
        display: flex;
        position: absolute;
        top: 92%;
        color: #ea6153;
        z-index: 1000;
        font-size: 80%;
        right: 5px;
        align-items: center;
    }
}
